.not-authorized-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

.not-authorized-container h1 {
    font-size: 2.5rem;
    color: #e74c3c; /* Optional: red color for warning */
    margin-bottom: 20px;
}

.not-authorized-container p {
    font-size: 1.2rem;
    color: #7f8c8d; /* Optional: gray color */
}
